/*
 * Main Css Style
 * Quark Project - Questions & Answers Management System
 *
 **/

/*Globals*/
a,
a:visited{
  color:#111;
}


/*Header*/


/*Tabs List Question*/
#tabs-question-list ul#order{
  padding: 0px;
	border-bottom:2px solid #333;
}

#tabs-question-list ul#order li{
  margin-right:34px;
}

#tabs-question-list ul#order li{
  font:size:12px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  text-transform: uppercase;
	
}

#tabs-question-list ul#order li a{
	text-decoration:none;
}


#tabs-question-list ul#order li.unselected{
  background:#ccc;
}
#tabs-question-list ul#order li.unselected a{

}
#tabs-question-list ul#order li.selected{
  background:#222;
	
}
#tabs-question-list ul#order li.selected a{
	color:#fff;
}

/*Question List Content*/
#question-list-content > .item{
	border-bottom: 1px solid #ccc;
  padding-bottom:5px;
}


.field.votes,
.field.views,
.field.answers{
	height:45px;
	width:45px;
	margin-right:20px;
}

.field.votes,
.field.views,
.field.answers{
  text-align:center;
}

.field.votes{
  background:#8cc63f; 
}
.field.views{
  background:#f2f2f2; 
}
.field.answers{
  background:#79aaf1;
	 margin-right:25px;
}

.field.author,
.field.created {
    color: #6D6D6D;
    font-size: 14px;
}
.field.author{margin-bottom:5px;}

.field.title h2{
	margin-bottom:5px;
}

.field.votes > .count{
  color: #FFFFFF;
}
.field > .count {
	clear: both;
	margin-top:6px;
	display: block;
	font-size: 21px;
}
.field > .desc {
  color: #222222;
  font-size: 11px;}

/*Pager*/

ul#pager li{
	display:inline-block;
	float:none;
}

ul#pager{
	margin-top:15px;
}

ul#pager li.item{
	height:22px;
	width:22px;
	margin-right:2px;
	background:#f1f7ef;
}
