/*
 * === Main Css Style ===
 * Layout based on GreenScreen-Css Framework
 * 
 * Open source Question and Answer platform written in PHP.
**/

/*Globals*/
body{background:#eee;}
#page{background:#fff;}

/*Globals*//*Forms*/
form .item > label {
    color: #333333;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 3px;
}

form .item > input,
form .item > textarea{
    clear: both;
    display: block;
    width: 99%;
}

form .backto{
    color: #444444;
    font-size: 15px;
    font-weight: bold;
}

form .save input{
	  margin-left:15px;
	  border:1px solid #ccc;
	  background:#efefef;
	  font-size:18px;
	  display:block;
}

form .save input:hover{
    background:#444;
    color:#fff;
}

form > .item {
    margin-bottom: 20px;
}

form .preview p{
    background: #B8E094;
    padding:15px;
}

.wmd-button.wmd-help-button{
    float: right;
    position: relative;
    right: 0;
}
ul.error_list{
	margin:0px;
	margin-bottom:8px;
	padding:0px;
}
ul.error_list li{
  list-style:none;
  list-style-image:none;
  background:#f69292;
  color:#000;
  padding:5px;
	margin:0px;
}

/*Global title pages*/
#content h1#page-title{
  border-bottom:1px solid #333;
  margin-bottom:10px;
  line-height:21px;
  font-size: 21px;
  font-weight: bold;
  margin-top:8px;
}

/*TopPage*/
/* in addiction #third-menu styled - see footer*/
#top-header{
  background:#eee;
  margin-bottom: 25px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
}
ul#third-menu .menu-item,
ul#primary-menu .menu-item{
  margin-left:15px;  
}
ul#third-menu .menu-item a,
ul#third-menu .menu-item a:visited,
ul#primary-menu .menu-item a,
ul#primary-menu .menu-item a:visited,
ul#primary-menu .login-item a,
ul#primary-menu .login-item a:visited{
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-top: 2px;
}

ul#primary-menu .login-item{
  padding-left:15px;
	margin-left:15px;
  border-left: 1px solid #222;
}

/*Page*/
  /*Header*/
	
#logo a,
#logo a:hover,
#logo a:visited{
	font-size:32px;
	line-height:30px;
  text-decoration:none;
}

#header{
	margin-bottom:30px;
}

ul#secondary-menu li a{
	padding:5px 8px;
	background:#bfbfbf;
	font-size:16px;
	text-decoration:none;
	margin-left:10px;
	color:#fff;
}
ul#secondary-menu li a.ask-question{
   font-weight:bold;
}
ul#secondary-menu li a:hover{
	background:#FF9500;
	color:#fff;
}
/*Content Index*/
#content div#global-content{
    margin-right:10px;
}

/*Tabs List Question*/
#tabs-question-list ul#order{
  padding: 0px;
	border-bottom:1px solid #999;
	margin-bottom:10px;
}

#tabs-question-list ul#order li{
  margin-right:10px;
}

#tabs-question-list ul#order li{
  font:size:12px;
  text-transform: uppercase;
	
	position:relative;
	bottom:-1px;
	
}

#tabs-question-list ul#order li a{
  text-decoration:none;
	padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  display:block;
}


#tabs-question-list ul#order li.unselected{
  background:#efefef;
	border:1px solid #999;
  border-bottom:1px solid #999;
	
}
#tabs-question-list ul#order li.unselected a{

}
#tabs-question-list ul#order li.selected{
  background:#fff;
	border:1px solid #999;
	
  border-bottom:1px solid #fff;
}
#tabs-question-list ul#order li.selected a{
	color:#000;
}

/*Home page*//*Question List Content*/
#question-list-content h1#page-title{
    border:0px;
    line-height: 16px;
    margin-bottom:0px;
}
#question-list-content .item.question-listed{
	border-bottom: 1px solid #ccc;
  padding-bottom:5px;
	margin-bottom:5px;
}
#question-list-content .first-group-fields{
	width:173px;
}
#question-list-content .second-group-fields{
    width: 537px;
}
.field.votes,
.field.views,
.field.answers{
    height: 38px;
    margin-right: 3px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 38px;
}

.field.votes,
.field.views,
.field.answers{
  text-align:center;
}

.field.votes{
  background:#e1e1e1;
	color:#787878;
}
.field.views{
  background:#f2f2f2; 
	color:#b3b3b3;
}
.field.answers.answered{
  background:#2D7f05;
	color:#fff;
	height: 38px;
	width:48px;
}

.field.answers.notyetaccepted{
  background:#EFD300;
  color:#333;
  height: 38px;
  width:48px;
}

.field.answers.unanswered{
  background:#C63F3F;
  color:#fff;
  height: 38px;
  width:48px;
}


.submitted > .user a,
.submitted > .user a:visited{
  font-weight:bold;
	color:#333;
  text-decoration:none;	
}
.submitted > .user a:hover{
	text-decoration:underline;
}

.submitted > .time{
	color:#999;
	font-weight:bold;
}
/*
.field.author,
.field.created {}
.field.author{}
*/

.field.title h2{
	margin-bottom:5px;
	font-size:17px;
	font-weight:bold;
}
.field.title h2 a{
  color:#333;
}
.field.title h2 a:hover{}
.field > .count {
	clear: both;
	margin-top:6px;
	display: block;
	font-size: 24px;
  font-weight:bold;
	line-height:18px;
}
.field > .desc {
  font-size: 11px;
	text-transform:lowercase;}

.block.populartags ul li a, /*See Block*/
.tags > a {
  font-family: "Tahoma", "Geneva", sans-serif;
  background: url('/images/tagsback.jpg');
  padding: 1px 6px 3px 6px;
  color:#fff;
  margin-right: 4px;
	border-radius: 4px;
}
.block.populartags ul li a:hover,
.tags > a:hover {
  text-decoration: none;
  background: url('/images/tagsback-hover.jpg');
}

/*Pager*/
#pagination{
	margin-top:15px;
}
ul#pager li{
	display:inline-block;
	float:none;
}

ul#pager .item{
  font-weight: bold;
	height: 18px;
  width: 18px;
	paddding: 5px;
	background: #999;
  color: #fff;
	margin:3px;
}
ul#pager .item a{
	border: 1px solid #ccc;
  background:#efefef;
	display:block;
	
  font-weight:normal;
}

/*Sidebar*/
  /*Block*/
	.block{
		margin-left:15px;
		margin-bottom:15px;
	}
	h4.block-title{
		color:#444;
    margin-bottom: 5px;
		font-weight:bold;
	}
    /*statistics*/
  .statistics .item{
  	font-size: 21px;	
		font-weight: bold;
  }
  .statistics .item span{
  	margin-left:8px;
		color: #5B5B5B;
  }

.block.populartags ul li{
  color: #8E8E8E;
  font-weight:bold;
}
  /*See .tags > a style*/
.block.welcome{
	font-size:120%;
}
.block.populartags ul li a{
	line-height:22px;
	font-weight:normal;
}

.block.welcome p{
	margin-bottom:5px;
}

.block.welcome span.link{
	margin-left:4px;
}

/*Footer*/
#footer{
  border-top:2px solid #222;
  background:#eee;
  margin-top: 25px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
}
#footer{}

/*Page New Ask Quesiton*/
/*
form#add-question{
  margin-top:10px;	
}

#new-question-form form#add-question .item{
	margin-bottom:20px;
}

#title-question label,
#body-question label,
#preview-question label{
	color: #333333;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 3px;
}
#new-question-form form#add-question input#question_title{
	width: 99%;
	clear: both;
	display: block;
}

#body-question textarea{
    clear: both;
    display: block;
    height: 250px;
    width: 99%;
}
*/

form#add-question{
  margin-top:10px;  
}

#body-question textarea{
    height: 250px;
}

/*
#submit-question input{
	margin-left:15px;
	border:1px solid #ccc;
	background:#efefef;
	font-size:18px;
	display:block;
}

#submit-question input:hover{
	background:#444;
	color:#fff;
}

*/

/*
#backtolist-question{
	 font-size:15px;
	 color:#444;
	 font-weight:bold;
}
*/

/*Sigin Page Form*/
form#signin-form{
    clear: both;
    float: left;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: auto;
    width: 310px;
}
#signin-form-content form#signin-form .item {
	margin-bottom:20px;
}

#username-signin label,
#password-signin label{
  color: #333333;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 3px;
}

#signin-form-content form#signin-form #username-signin > input,
#signin-form-content form#signin-form #password-signin > input{
  width: 300px;
  clear: both;
  display: block;
}



#submit-signin input{
  margin-left: 232px;
  border:1px solid #ccc;
  background:#efefef;
  font-size:18px;
  display:block;
}

#submit-signin input:hover{
  background:#444;
  color:#fff;
}


/*ShowSuccess*/

.options li a{
	margin-top:10px;
	margin-right:10px;
  color:#999;
  display: inline-block;
}

/*Question Vote Widget*/
.vote .up-vote,
.vote .down-vote,
.vote .count{
	 text-align:center;
}
.vote .count{
	color:#999;
    font-size: 30px;
    font-weight: bold;
}

.vote .down-vote ,
.vote .up-vote {
    background-color: transparent;
    background-image: url("/images/vote-updown.png");
    background-repeat: no-repeat;
    display: block;
    
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

    height: 18px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: -9999px;
    width: 35px;
}

.vote .up-vote{
  background-position: center top !important;
}
.vote .up-vote:hover{
  background-position: right top !important;
}
.vote .up-vote:active{
  background-position: left top !important;
}
.vote .down-vote{
  background-position: center bottom !important;
}
.vote .down-vote:hover{
  background-position: right bottom !important;
}
.vote .down-vote:active{
	  background-position: left bottom !important;
}
.vote .down-vote a,
.vote .up-vote a,
.vote .down-vote a:visited,
.vote .up-vote a:visited,
.vote .down-vote a:active,
.vote .up-vote a:active{
  display:block;
  text-indent:-9999px;
  width: 35px;
  height: 18px;
}

/*Answers*/

h3.sub-page-title{
    color:#626262;
    display: block;
    font-weight: bold;
    margin-top: 15px;
}
#answers-list h3.sub-page-title{
	  border-bottom-color: #626262;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#answers-list .vote .count{
  color:#999;
    font-size: 30px;
    font-weight: bold;
		text-align:center;
}

#answers-list .item{
	    border-bottom-color: #BBBBBB;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 10px;
    padding-bottom: 7px;
	
}


.not-logged{
	  color: #6D6D6D;
    font-size: 15px;
    font-weight: bold;
}


/*User*/
/*listSuccess*/

#user-list-content .item{
	height: 35px;
  width: 185px;
}

#user-list-content .item .user-avatar{
  width:35px;
	height:35px;
	background:#efefef;
}

#user-list-content .item .user-username,
#user-list-content .item .user-points{
	width:145px;
	margin-left:5px;
	
}

#user-list-content .item .user-points span{
	color:#444;
	font-weight:bold;
  margin-right: 10px;
	
}

/*User*//*showSuccess*/
#user-info ul#options-user-info li a{
  color:#999;
}
#user-info ul#options-user-info li{
  line-height: 100%;
  margin-bottom: 7px;
	padding-right:5px;
	padding-left:5px;
	border-right:1px solid #999;
}


#user-info ul#options-user-info li.first{
	 padding-left:0px;
}
#user-info ul#options-user-info li.last{
	border-right:none;
}

#user-info ul#info-user-info li{
    font-size: 16px;
    margin-bottom: 3px;
}


/*Override New User*/
form#sf_apply_apply_form #username-apply,
form#sf_apply_apply_form #lastname-apply,
form#sf_apply_apply_form #firstname-apply{
	 width:346px;
}

form#sf_apply_apply_form #password-apply,
form#sf_apply_apply_form #password2-apply,
form#sf_apply_apply_form #email-apply,
form#sf_apply_apply_form #email2-apply{
	width:346px;
	float:left;
}
form#sf_apply_apply_form #email-apply,
form#sf_apply_apply_form #password-apply{
	margin-right:18px;
}

